/* Contact Page */

.page-node-25 {
  border: 1px #000 solid;

  .panels-flexible-column-3-2 {
    color: #666;
    font-size: 18px;
    font-weight: 100;

    p {
      margin-bottom: 40px;
    }

    strong {
      color: #000;
      display: block;
      float: left;
      font-weight: 100;
      margin-right: 10px;
    }

    .contact-info {
      font-size: 22px;
      font-weight: 100;
      margin-bottom: 40px;
      overflow: hidden;
    }

    .contact-data {
      color: #f97431;

      a {
        color: #f97431;

        &:hover {
          color: #f97431;
        }
      }
    }

    .phone-wrapper {
      float: left;

      .contact-data {
        display: block;
        clear: both;
      }
    }

    .social-links a {
      display: inline-block;
      margin-right: 15px;
    }

  }
  .panels-flexible-column-3-3 {
    background: #FFF;
    border: 2px #CCC solid;
    float: none;
    padding: 40px 20px;
    overflow: hidden;
    width: 100%;

    @include breakpoint(720px) {
      float: left;
      width: 33.1957%;
    }

    @include border-radius(10px);

    .pane-3 {
      margin-bottom: 50px;
    }
    .pane-node-webform {

    }

    .form-item {
      border: 2px #CCC solid;
      margin-bottom: 30px;

      @include border-radius(5px);

      label, input, textarea {
        color: #F97431;
        font-size: 18px;
        font-weight: 100;
      }

      label {
        top: 12px;
        left: 10px;
      }

      input {
        height: 50px;
        padding: 15px 10px;
      }      
    }

    .webform-component-email {
      min-height: 50px;
    }

    .compact-form-wrapper {
      position: relative;
    }

    label.compact-form-label {
      z-index: 10;
    }    

    input#edit-submitted-e-mail {
      width: 98%;
      height: 98%;
    }    

    .form-text, .form-textarea {
      border: none;
      font-size: 18px;
      padding: 10px;
    }

    .webform-submit {
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 0 60px;
      padding: 10px 25px;
    }
  }
}

