/* Navegacion principal */
.navbar-collapse {
  padding: 0;

  ul {
    padding: 0 10px;

    @include border-radius(5px);
  }
}

.navbar-default .navbar-toggle {
  background: #052D62;
  border-color: #0E2646;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #274D79;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.visible-xs ul.navbar-nav {
  background: #052D62;

  li {
    a {
      color: #FFF;
      border-bottom: 1px #FFF solid;

      &:hover, &:focus {
        color: #FFF;
        background-color: #274D79;
      }
    }
    
    &.open,    
    &.active {

      a,
      a:hover {
        color: #FFF !important;
        background-color: #274D79 !important;
      }

      ul li a {
        background: transparent !important;
        display: inline-block;
        padding-bottom: 10px !important;
        padding-top: 10px !important;
        width: 100%;
      }     
    }

  }
}

#block-superfish-1,
#block-superfish-2 {
  float: left;
}

.block-superfish {

}
.sf-accordion-toggle {
  display: none;
}
.sf-menu {
  display: inline-block;

  @include border-radius(3px);

  li {

    a {
      border-right: 1px #376faa solid;
      color: #FFF;
      display: inline-block;
      font-size: 15px;
      font-weight: lighter;
      padding: 12px 20px !important;

      &:hover,
      &:active {
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }

    &.first a {
      border-left: 1px #376faa solid;
    }

  }
}

.sf-menu ul {
  padding: 0;
  text-align: center;
  top: 48px !important;
  display: none;

  li:first-child {
    position: relative;
    
    &:before {
      border-color: transparent transparent #084AA1 transparent;
      border-style: solid;
      border-width: 8px;
      content: "";
      position: absolute;
      top: -16px;
      left: 45%;
    }

    &:hover {
      &:before {
        border-color: transparent transparent #28578F transparent;
      }
    }

    a {
      @include border-top-radius(3px);
    }
  }

  li:last-child a {
    @include border-bottom-radius(3px);
  }

  li {
    a {
      border: none;
      display: inline-block;
      font-size: 14px;
      width: 100%;
    }
  }
}

a > .sf-sub-indicator, span.nolink > .sf-sub-indicator {
  right: 0.5em;
  top: 0.9em;
}

/* Samll Screens */
.visible-xs ul li ul {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  box-shadow: none;

  li a {
    padding: 15px 0 15px 20px;
  }
}